mixin icon(name, className)
  - var icon = require(`images/icons/${name}.svg`);
  svg(class=className viewBox=icon.viewBox preserveAspectRatio="none")
    use(xlink:href=icon.url)

mixin image(path, className)
  img(src=require(`images/${path}`) class=className alt=`${className}`)

mixin menuList(className, items, links)
  ul(class=`${className}__list`)
    each item, ndx in items
      li(class=`${className}__item`)
        a(class=`${className}__link` href=`${links[ndx]}`)= item

mixin socialList(className, items, links)
  ul(class=`${className}__list`)
     each item, ndx in items
      li(class=`${className}__item`)
        a(class=`${className}__link` href=`${links[ndx]}`)
          span.visually-hidden= item
          +icon(`${item}`, `${className}__svg`)

mixin skillsList(skillsName, skills)
  h3(class="title title_size skills__title")= skillsName.slice(0, 1).toUpperCase() + skillsName.slice(1)
  ul.skills__list
    each skill in skills
      li.skills__item= skill
        div.skills__svg
          svg.skills__svg
            circle(rx="50" ry="50" r="67")

mixin directionArrow(directions)
  .controls
    ul.controls__list
      each direction in directions
        li.controls__item
          a(href="#").controls__link
            case direction
              when "up"
                +icon("arrow", `arrow__${direction}`)
              when "down"
                +icon("arrow", `arrow__${direction}`)
              when "left"
                +icon("arrow", `arrow__${direction}`)
              when "right"
                +icon("arrow", `arrow__${direction}`)